@model IEnumerable<Library_PenaltyCalculation.Models.ReturnBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckedOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReturnBookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReturnBookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReturnBookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
